.chart-pie {
    max-width: 130px !important;
    margin: auto !important;
}

.zoom:hover {
    transform: scale(1.5);
}

.pointer {
    cursor: pointer !important;
}

.vl {
    border-left: 3px #858796 green;
    height: 120px;
}

.text-black {
    color: black;
}

kbd {
    background-color: #5a5a5a;
}

.noline {
    text-decoration: none !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ht-20 {
    height: 20px !important;
}

.ht-35 {
    height: 35px !important;
}